.circle_decor{
  width: 2vh;
  height: .4vh;
  background: #b3b3b3;
  position: absolute;
}

#line-1{
  top: 12vh;
  left: 2.9vh;
  transform: rotate(20deg);
}

#line-2{
  top: 12vh;
  right: 2.9vh;
  transform: rotate(-20deg);
}

#line-3{
  top: 28vh;
  right: 6.5vh;
  transform: rotate(45deg);
}

#line-4{
  top: 28vh;
  left: 6.5vh;
  transform: rotate(-45deg);
}

#line-5{
  top: 2.7vh;
  left: 16.5vh;
  transform: rotate(-90deg);
}